{% extends 'hotel/base.html' %}




{% block content %}
{% include 'hotel/nav-bar.html' %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="font-weight:bold!important; color: black!important;">A Seaside Escape</h1>
        <p class="lead text-body-secondary" style="color: black!important;">
        
          We strive to provide an unparalleled experience for our guests. 
          From our elegant accommodations to our top-notch amenities, your satisfaction is our priority. 
          Whether you're here for business or leisure, our dedicated staff is committed to making your stay exceptional.
        </p>
      </div>
    </div>  
  </section>
<section class="py-5 text-center container">

</section>
</main>
{% endblock content %}

